* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

img,
.video {
  max-width: 100%;
}

[data-init="registration-popup"] .logo {
  margin: 0 auto;
}

.gtd-video-title {
  position: absolute;
  left: 30px;
  top: 15px;
  z-index: 999;
  text-shadow: 1px 1px 3px #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.flag-custom {
  font-size: 50px;
  margin-left: 5px;
}

.logo {
  max-width: 30%;
}

.light-purple {
  color: #7b3dbb;
}

.purple {
  color: #444573;
}

.scroll-top-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #2a2b51;
  text-decoration: none;
}

.scroll-top-btn a:hover {
  color: #2a2b51;
  text-decoration: none;
}

.dark-purple {
  color: #322580;
}

.red {
  color: red;
}

.green {
  color: #00c500;
}

.gray {
  color: gray;
}

.orange {
  color: orange;
}

.white {
  color: white;
}

.yellow {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  color: #ebd943;
  font-size: 24px;
}

.no-padding {
  padding: 0;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.intro-section-1 {
  text-align: center;
  background-color: red;
  color: white;
  padding: 6px 0;
}

.intro-p {
  margin: 0;
}

.intro-part-2 {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exclusive-offers-wrapper {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.flag {
  width: 20%;
}

.form-control {
  padding: 0.63rem 1rem;
}

.dynamic-person-div {
  padding: 0 20px;
  background-color: #dddde1;
  margin: 0;
  display: flex;
  align-items: center;
  align-self: stretch;
}

.dynamic-person-p {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Open Sans";
  color: #444573;
  text-align: center;
}

.dynamic-person-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgb(211, 211, 31);
}

.video-form-section {
  background-image: url("../images/video-form-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 80px;
}

.video-header,
.video-subheader {
  text-align: center;
  color: white;
}

.video-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin-top: 17px;
  display: inline-block;
  position: relative;
  clear: both;
  text-align: center;
  width: 100%;
}

.video-subheader {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.video {
  margin-bottom: 10px;
  border: 10px solid white;
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
}

.form-container {
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
}

.form-body .alert-danger {
  z-index: 10002;
}

.formUl li {
  display: inline-block;
  background-color: #fff28a;
  color: white;
  font-size: 2em;
  line-height: 1.1em;
  font-weight: bold;
  height: 7px;
  width: 34%;
}

.formUl .active {
  background-color: #fd57a5;
}

.formUl {
  padding-left: 0;
  width: 100%;
  text-align: center;
  display: flex;
}

.form-content {
  padding: 15px 10px;
  padding-bottom: 50px;
}

form[data-init][data-mode="slidingform"] [data-subject="wrapper"] {
  overflow: visible;
}

.form-control {
  border-radius: 0;
  height: 40px;
}

.registerBtn {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  color: #ffffff;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
  text-transform: uppercase;
  width: 90%;
  min-height: 64px;
  cursor: pointer;
  white-space: normal;
}

.registerBtn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  font-size: 21px;
}
.gtd-tp-link-wrapper a {
  margin: 0 auto;
  text-align: center;
  padding: 18px;
  display: block;
  color: #fff;
  font-size: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
  text-transform: uppercase;
  width: 90%;
  height: 64px;
  text-decoration: none;
}
.gtd-tp-link-wrapper a:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  font-size: 21px;
}
.last-step {
  min-height: 124px;
  background-image: url("../images/form-bg.jpg");
}
form {
  background-image: url("../images/form-bg.jpg");
}
.form-header {
  margin-bottom: -12px;
}
.formHeader {
  background-image: url("../images/form-header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 30px 13px;
  font-size: 32px;
  text-transform: uppercase;
}

.logos-section {
  padding: 50px 0;
  /*padding-top: 150px;*/
}

.logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bid-wrapper,
.ask-wrapper {
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
}

.bid-ask-span {
  font-size: 1.7em;
  font-family: "Open Sans", sans-serif;
}

.join-us-section {
  padding: 50px 0;
  background-image: url("../images/join-us-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.join-us-section--br {
  position: relative;
}

.join-us-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  color: #322580;
  margin-bottom: 0;
  line-height: 1.2;
  display: block;
}

.join-us-p {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  margin-top: 50px;
}

.seenon-p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #6a449b;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Lato";
}

.join-us-img-wrapper {
  position: relative;
}

.join-us-img {
  position: absolute;
  top: -322px;
  left: 49px;
}

@media (max-width: 1199px) {
  .join-us-img {
    left: 30px;
  }
}

@media (max-width: 991px) {
  .join-us-img {
    display: none;
  }

  .testimonials-section {
    padding-top: 0 !important;
  }
}

.testimonials-section {
  padding-top: 150px;
  font-family: "Open Sans";
  text-align: center;
}

.testimonials-header {
  margin-bottom: 50px;
  font-size: 2em;
  color: #322580;
}

.testimonial-wrapper {
  display: flex;
  justify-content: baseline;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-color: #343a40 !important;
}

.testimonial-wrapper-1 {
  background-image: url("../images/testimonial1.jpg");
}

.testimonial-wrapper-2 {
  background-image: url("../images/testimonial2.jpg");
}

.testimonial-wrapper-3 {
  background-image: url("../images/testimonial3.jpg");
}

.testimonial-wrapper-4 {
  background-image: url("../images/testimonial4.jpg");
}

.testimonial-wrapper-1.aa {
  background-image: url("../images/testimonial1-asian.jpg");
}

.testimonial-wrapper-2.aa {
  background-image: url("../images/testimonial2-asian.jpg");
}

.testimonial-wrapper-3.aa {
  background-image: url("../images/testimonial3-asian.jpg");
}

.testimonial-wrapper-4.aa {
  background-image: url("../images/testimonial4-asian.jpg");
}
.testimonial-wrapper-1.zh {
  background-image: url("../images/testimonial1-zh.jpg");
}

.testimonial-wrapper-2.zh {
  background-image: url("../images/testimonial2-zh.jpg");
}

.testimonial-wrapper-3.zh {
  background-image: url("../images/testimonial3-zh.jpg");
}

.testimonial-wrapper-4.zh {
  background-image: url("../images/testimonial4-zh.jpg");
}

.testimonial-wrapper-1.ms {
  background-image: url("../images/testi1.jpg");
}

.testimonial-wrapper-2.ms {
  background-image: url("../images/testi2.jpg");
}

.testimonial-wrapper-3.ms {
  background-image: url("../images/testi3.jpg");
}

.testimonial-wrapper-4.ms {
  background-image: url("../images/testi4.jpg");
}

.testimonial-intro-text {
  width: 100%;
  margin-top: auto;
  padding-bottom: 25px;
  font-size: 1.25em;
}

.testimonial-profit-span {
  font-size: 1.4em;
  font-weight: bold;
}

.testimonial-hover-text {
  position: absolute;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  height: 100%;
  transition: 0.5s ease;
  font-size: 0.95em;
  cursor: pointer;
  opacity: 0;
}

.testimonial-hover-text:hover {
  background-color: rgba(54, 110, 231, 0.5);
  opacity: 1;
}

.features-section {
  padding: 150px 0;
  font-family: "Open Sans";
  background-image: url("../images/features-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-wrapper {
  background-color: #322b7c;
  color: white;
  padding: 20px 5px;
  box-shadow: 0px 6px 0 0 #7f57ca;
  height: 100%;
}

.feature-img-wrapper {
  margin-bottom: 50px;
}

.feature-img {
  height: 102px;
}

.feature-header {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 1.2em;
}

.feature-description {
  padding: 0 20px;
}

.live-results-section {
  font-family: "Open Sans";
  margin: 50px 0;
}

.live-results-table-wrapper {
  box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
  background-color: white;
  border: solid 10px #ffffff;
  position: relative;
  top: -265px;
  padding: 0 190px 50px;
  overflow-x: auto;
  position: initial;
}

.live-results-table {
  width: 100%;
}

th,
td {
  width: 20%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.last-td {
  border: none;
}

.tick {
  display: inline-block;
  background-color: #ebd944;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  color: white;
  font-size: 1.25em;
}

.live-results-header {
  margin: 50px 0;
  font-size: 3em;
}

.yellow-btn {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0px 4px 0 0 #cab927;
  cursor: pointer;
  height: 70px;
  max-width: 430px;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #ebd943;
  color: #2a2b51;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px;
}

.join-now-btn {
  position: absolute;
  top: -45px;
  left: 50%;
  right: 50%;
}

.yellow-btn:hover {
  background-color: #cebf38;
}

.how-it-works-section {
  background-color: #0f4bff;
  height: 350px;
  margin-top: 300px;
  position: relative;
  font-family: "Open Sans";
}

.how-it-works-section--br {
  height: 450px;
}

.how-it-works-section--ru {
  margin-top: 320px;
}

.how-it-works-wrapper {
  position: relative;
  top: -260px;
}

.how-it-works-wrapper--br {
  top: -90px;
}

.how-it-works-header {
  margin-bottom: 50px;
}

.step-wrapper {
  box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
  position: relative;
  background: #fff;
  height: 100%;
}

.step-wrapper-1 {
  z-index: 3;
}

.step-wrapper-2 {
  z-index: 2;
}

.step-wrapper-3 {
  z-index: 1;
}

.step-header {
  padding: 10px 0;
}

.step-header-1 {
  background-color: #7b3dbb;
}

.step-header-2 {
  background-color: #372798;
}

.step-header-3 {
  background-color: #0f4dff;
}

.step-img {
  height: 93px;
}

.step-img-wrapper {
  margin: 25px 0;
}

.step-subheader {
  margin-bottom: 25px;
}

.step-description {
  padding: 40px 25px;
  padding-top: 0;
  margin-bottom: 0;
}

.open-free-account-btn {
  position: absolute;
  bottom: -33px;
  left: 50%;
  right: 50%;
}

.faq-section {
  padding: 50px 0;
  margin-top: 100px;
  font-family: "Open Sans";
}

.faq-section--br {
  margin-top: 25px;
}

.faq-section-header {
  margin-bottom: 70px;
}

.faq-wrapper {
  position: relative;
  padding: 21px 28px 30px 50px;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 6px 26.9px 5.1px rgba(37, 26, 65, 0.1);
}

.faq-question {
  font-size: 1.2em;
}

.faq-wrapper::before {
  display: inline-block;
  font-size: 1.5em;
  color: white;
  background-color: #7b3dbb;
  padding: 10px 20px;
  position: absolute;
  left: -25px;
  top: 62px;
  box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
}

.faq-wrapper-1::before {
  content: "1";
}

.faq-wrapper-2::before {
  content: "2";
}

.faq-wrapper-3::before {
  content: "3";
}

.faq-wrapper-4::before {
  content: "4";
}

.faq-wrapper-5::before {
  content: "5";
}

.faq-wrapper-6::before {
  content: "6";
}
.pre-footer-section {
  background-image: url("../images/pre-footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 0;
}

.pre-footer-btn {
  display: block;
  text-align: center;
  background-color: #ebd943;
  color: #322580;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 88px auto;
  box-shadow: 0px 4px 0 0 #cab927;
  cursor: pointer;
  height: 125px;
  width: 100%;
  max-width: 460px;
}

.pre-footer-btn:hover {
  background-color: #cebf38;
}

.footer {
  padding: 30px 0;
}

.footer-ul {
  list-style: none;
  font-weight: bold;
}

.footer-ul a {
  color: #322580;
}

.footer-ul li {
  display: inline-block;
  margin-right: 30px;
}

.footer-logo {
  max-width: 300px;
}

.intro-section-mobile {
  display: none;
}

.padding-left-td {
  padding-left: 7px;
}

.bid-ask-span {
  transform: scale(1);
  transform: rotate3d(0, 1, 0, 0deg);
  animation: flip 10s cubic-bezier(1, 0, 0, 1) 0s infinite;
}

.shake {
  display: inline-block;
  animation: shake 1s cubic-bezier(0, 0.5, 1, 0.5) 0s infinite;
}

.start-trading-btn {
  cursor: pointer;
}

/* Modal style */
.modal-content {
  background-image: linear-gradient(to top, #433091, #622d91);
  box-shadow: 0px 10px 76.2px 26.8px rgba(37, 26, 65, 0.22);
  border-top: 4px solid #156cff;
}

.modal-header {
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
  padding-top: 60px;
  border-bottom: none;
}

.modal-header h5 {
  font-weight: bold;
  font-size: 40px;
}

.modal-header p {
  color: #f3cc1e;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lato";
}

.modal-markets {
  background-image: linear-gradient(to top, #433091, #622d91);
  box-shadow: 0px 10px 76.2px 26.8px rgba(37, 26, 65, 0.22);
  padding: 15px;
  margin: 0 20px;
}

.modal-markets img {
  display: block;
  margin: 0 auto;
}

.modal-markets p {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.modal-priority {
  padding: 20px 44px;
}

.modal-priority h4 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.modal-white-text {
  color: #fff;
}

.inner {
  width: 50%;
  height: 2px;
  margin: 0px auto;
  border-bottom: 1px solid #fff;
}

.modal-priority p {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.modal-content {
  display: block;
}

.modal-open {
  -ms-overflow-style: none;
}

.modal-footer {
  border-top: none;
  display: block;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-priority i {
  margin-right: 10px;
  font-size: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer button {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(166deg, #fff28a 1%, #f1c710);
  box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
  color: #4c2f91;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 60px;
  font-size: 22px;
  margin-bottom: 40px;
}

.modal-speen {
  border-top: none !important;
}

.modal-open .modal {
  background-color: rgba(44, 31, 87, 0.5);
}

.brmoney:before {
  content: "\e900";
  color: #f2ca17;
}
.brshield:before {
  content: "\e901";
  color: #f2ca17;
}
.brstar .path1:before {
  content: "\e902";
  color: rgb(255, 220, 100);
}
.brstar .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.braward-icon:before {
  content: "\e904";
}
.brcheck-icon:before {
  content: "\e905";
}
.brstep1-icon:before {
  content: "\e906";
}
.brstep2-icon:before {
  content: "\e907";
}
.brstep3-icon:before {
  content: "\e908";
}
.brtarget-icon:before {
  content: "\e909";
}
.brtechnology-icon:before {
  content: "\e90a";
}

@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1);
  }

  5% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1.7);
  }

  10% {
    transform: rotate3d(0, 1, 0, 720deg) scale(1);
  }

  100% {
    transform: rotate3d(0, 1, 0, 720deg) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: rotate3d(0, 0, 1, 0deg) scale(1);
  }

  20% {
    transform: scale(1.1);
  }

  30% {
    transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
  }

  40% {
    transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
  }

  50% {
    transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
  }

  60% {
    transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
  }

  80% {
    transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
  }

  90% {
    transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
  .join-us-img {
    top: -238px;
  }
  .formHeader {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    margin: 0 auto;
    max-width: 340px;
  }
  .none {
    display: none;
  }
  .faq-section {
    margin-top: 600px;
    padding: 0;
  }
  .faq-section--br {
    margin-top: 58px;
  }
  .faq-section--ru {
    margin-top: 580px;
  }
  .live-results-table-wrapper {
    padding: 0 20px;
  }
  .feature-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  .video-form-section {
    padding-bottom: 160px;
  }

  .intro-section-mobile {
    background-color: #ddd;
    display: block;
  }

  .feature-wrapper-col {
    margin-bottom: 20px;
  }

  .join-us-img {
    top: -73px;
  }

  .formHeader {
    padding: 30px 20px;
    font-size: 24px;
  }

  .how-it-works-section {
    height: 360px;
  }
  .how-it-works-section--br {
    height: auto;
  }
  .gtd-tp-link-wrapper a {
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
  }
}

@media screen and (max-width: 767px) {
  .intro-section-mobile {
    margin-top: 120px;
  }
  .video-form-section {
    padding: 0 0% 50px;
  }
  .feature-wrapper {
    margin: 0 auto;
    max-width: 400px;
  }
  .join-us-img-wrapper {
    display: block;
    margin: 0 auto;
  }
  .join-us-header {
    font-size: 36px;
    text-align: center;
  }
  .join-us-p {
    margin-top: 20px;
  }
  .intro-section-1 {
    display: none;
  }

  .live-results-table-wrapper {
    position: initial;
    padding: 0;
  }

  .how-it-works-section {
    margin-top: 60px;
    height: initial;
    background-color: white;
  }

  .how-it-works-section--ru,
  .faq-section--ru,
  .faq-section {
    margin-top: 65px;
  }

  .how-it-works-wrapper {
    position: initial;
  }

  .step-wrapper {
    max-width: 400px;
    margin: 0 auto;
    position: initial;
    margin-bottom: 20px;
  }

  .step-wrapper-col {
    margin-bottom: 20px;
  }

  .open-free-account-btn {
    position: initial;
    -webkit-transform: none;
    transform: none;
  }

  .how-it-works-btn-wrapper {
    padding: 30px 10px;
    background-color: #0f4bff;
  }

  .join-now-btn {
    top: -100px;
  }

  .join-us-img {
    top: -528px;
    max-height: 300px;
  }

  .testimonials-section {
    padding-top: 50px;
  }

  .fake-news-logos-wrapper {
    border-bottom: 3px solid #ddd;
    padding-bottom: 50px;
  }

  .logos-wrapper {
    display: inline-block;
    margin: 0 auto;
    flex-direction: column;
    height: 50px;
  }
  .logos-wrapper img {
    margin-right: 10px;
  }

  .bid-ask-span {
    font-size: 2em;
  }

  .logo {
    display: inline-block;
    margin-bottom: 15px;
  }

  .features-section {
    padding: 100px 0;
  }

  .intro-part-2 {
    height: initial;
    padding: 10px 0;
    flex-direction: column;
  }

  .dynamic-person-div {
    background-color: #ddd;
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    align-self: stretch;
    justify-self: stretch;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }

  .dynamic-person-p {
    font-weight: bold;
  }

  .exclusive-offers-wrapper {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  .exclusive-offers-text {
    text-align: center;
    margin-right: 15px;
  }

  .logo {
    max-width: 140px;
    margin-bottom: 0;
  }

  .none {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .join-us-section {
    position: relative;
  }

  .join-us-img {
    bottom: 0px;
    top: initial;
    left: 0px;
  }
}

@media screen and (max-width: 350px) {
  .join-us-section {
    padding-bottom: 450px;
  }

  .join-us-section--br {
    padding-bottom: 50px;
  }
}

.footer .row {
  margin: auto;
}
